#contenedor1 {
  background-color: #3E3F41;
  align-content: center;
}

#contenedorimg1 {
  text-align: center;
  margin-top: 25%;
}

#img1 {
width: 35%;
height: auto;
}

h1 {
font-family: 'Barlow Semi Condensed', sans-serif bold;
color: #ECAB11;
font-size: 65px ;
}

#formulario {
  margin-left: 10%;
  margin-top: 16%;
}

.login {
width: 90%;
height: 15%;
}

#btn-submit {
  margin-right:10%;
  background-color: #ECAB11;
}

#forget-password {
  font-family: 'Roboto Slab', serif;
  color: #FAFAFA;
  margin-top: 3%;
}

#no-login {
  margin-top: 10%;
  color: #FAFAFA;
  position: relative;
  bottom: 0%;
  margin-bottom: 0%;
}

#registrate {
  color: #ECAB11;
}

#menu {
  background-color: #3E3F41;
  padding: 0px;
  margin-bottom: 0px;
}

#btn-menu {
  background-color: #3E3F41;
  margin-right: 0%;
}

/*.dropdown-toggle {
  display:none;
}*/

#titulo {
  color: #FAFAFA;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px; 
  align-content: center;
  margin-top: 5%;
  margin-bottom: 0%;
}

.options {
  color:  #ECAB11;
  height: 20%;
}

.dropdown-item {
  height: 50px;
  margin-top: 3%;
}

#contenedor2 {
  background-color: #dcdce4;
  height: 100%;
}

#contenedor-botones {
  margin-top: 20%;
  text-align: center;
  align-content: center;
}

.btn-options {
  background-color: #ECAB11;
  color: #FAFAFA;
  border: none;
  margin-top:2%;
  margin-bottom:2%;
  margin-right: 2%;
  margin-left: 2%;
  padding:2%;
  width: 70%;
  
}

/*font-family: 'Francois One', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto Slab', serif;*/